<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Patients
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Patients</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div id="list-patient" class="box" role="main">
          <div class="box-header with-border">
              <h3 class="box-title">
                   
              </h3>
          </div>
        
          <div class="box-body">
            <router-outlet></router-outlet>
          </div>
        </div>
        
    </section>
    <!-- /.content -->
  </div>